.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.ul-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/gilroy-regular-webfont.eot');
    src: url('../fonts/Gilroy/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy/gilroy-regular-webfont.woff') format('woff'), url('../fonts/Gilroy/gilroy-regular-webfont.ttf') format('truetype'), url('../fonts/Gilroy/gilroy-regular-webfont.svg#Gilroy') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/gilroy-extrabold-webfont.eot');
    src: url('../fonts/Gilroy/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy/gilroy-extrabold-webfont.woff') format('woff'), url('../fonts/Gilroy/gilroy-extrabold-webfont.ttf') format('truetype'), url('../fonts/Gilroy/gilroy-extrabold-webfont.svg#Gilroy') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BetterTogether';
    src: url('../fonts/BetterTogether/better_together_script-webfont.eot');
    src: url('../fonts/BetterTogether/better_together_script-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BetterTogether/better_together_script-webfont.woff') format('woff'), url('../fonts/BetterTogether/better_together_script-webfont.ttf') format('truetype'), url('../fonts/BetterTogether/better_together_script-webfont.svg#BetterTogether') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LifehackSans';
    src: url('../fonts/LifehackSans/deartype_-_lifehack_sans-webfont.eot');
    src: url('../fonts/LifehackSans/deartype_-_lifehack_sans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/LifehackSans/deartype_-_lifehack_sans-webfont.woff') format('woff'), url('../fonts/LifehackSans/deartype_-_lifehack_sans-webfont.ttf') format('truetype'), url('../fonts/LifehackSans/deartype_-_lifehack_sans-webfont.svg#LifehackSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icons/icomoon.eot');
    src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.woff') format('woff'), url('../fonts/icons/icomoon.ttf') format('truetype'), url('../fonts/icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
    content: "\e90a";
}

.icon-left-arrow:before {
    content: "\e90b";
}

.icon-list-arrow:before {
    content: "\e909";
}

.icon-instagram-logo:before {
    content: "\e904";
}

.icon-facebook-logo:before {
    content: "\e905";
}

.icon-vk-logo:before {
    content: "\e906";
}

.icon-star-full:before {
    content: "\e900";
}

.icon-play:before {
    content: "\e901";
}

.icon-pdf:before {
    content: "\e902";
}

.icon-quotes:before {
    content: "\e903";
}

.icon-phone:before {
    content: "\e907";
}

.icon-star:before {
    content: "\e908";
}

.btn {
    text-shadow: 0 1px 6px rgba(164, 72, 0, 0.5);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 30px;
    max-width: 360px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
}

.btn-orange {
    background-color: #ff7e00;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f47b2a), color-stop(5%, #f47b2a), to(#f9a241));
    background-image: -webkit-linear-gradient(bottom, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: -o-linear-gradient(bottom, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: linear-gradient(to top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 0 7px 18px rgba(255, 126, 0, 0.51);
    box-shadow: 0 7px 18px rgba(255, 126, 0, 0.51);
}

.btn-orange:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f47b2a), color-stop(5%, #f47b2a), to(#f9a241));
    background-image: -webkit-linear-gradient(top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: -o-linear-gradient(top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: linear-gradient(180deg, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
}

a.btn {
    text-decoration: none;
    color: #fff;
}

.icon_btn {
    width: 100px;
    height: 100px;
    background-color: #f79539;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIxMDAlIiB4Mj0iMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0N2IyYSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2Y0N2IyYSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjlhMjQxIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background-image: -webkit-linear-gradient(bottom, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: -o-linear-gradient(bottom, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f47b2a), color-stop(5%, #f47b2a), to(#f9a241));
    background-image: linear-gradient(to top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    -webkit-box-shadow: 0 7px 18px rgba(255, 126, 0, 0.51);
    box-shadow: 0 7px 18px rgba(255, 126, 0, 0.51);
    color: 0 7px 18px rgba(255, 126, 0, 0.51);
    font-size: 45px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.icon_btn:hover {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f47b2a), color-stop(5%, #f47b2a), to(#f9a241));
    background-image: -webkit-linear-gradient(top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: -o-linear-gradient(top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
    background-image: linear-gradient(180deg, #f47b2a 0%, #f47b2a 5%, #f9a241 100%);
}

.icon_btn i {
    line-height: 100px;
}

.owl-nav {
    width: 100%;
}

.owl-nav div {
    position: absolute;
    top: 50%;
    margin-top: -105px;
    width: 50px;
    height: 50px;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    border: 1px solid #f5832e;
    text-align: center;
    color: #f5832e;
}

.owl-nav div i {
    line-height: 50px;
}

.owl-nav div:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.owl-nav div:hover.disabled {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    cursor: default;
}

.owl-nav div.owl-prev {
    left: -70px;
}

.owl-nav div.owl-next {
    right: -70px;
}

.modal_form {
    width: 450px;
    padding: 60px 60px;
    background-color: #ffffff;
    text-align: center;
}

.modal_form h3 {
    color: #363b53;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.modal_form .form-info {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.modal_form .form-control {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 60px;
    text-align: center;
}

body {
    background: url("../img//bg1.jpg") top center no-repeat;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}

b {
    font-weight: 700;
}

header {
    padding: 30px 0;
}

header .nav .label-nav {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    color: #34241a;
    font-size: 12px;
}

header .nav .nav-menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

header .nav .nav-menu a {
    display: inline-block;
    margin: 0 5px;
    border: 2px solid #363b53;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    padding: 10px 15px;
    color: #363b53;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
}

header .nav .nav-menu a:hover {
    text-decoration: none;
    background-color: #363b53;
    color: #fff;
}

header .nav .nav-menu a.active {
    background-color: #363b53;
    color: #fff;
}

header .header-phone {
    text-align: right;
}

header .phone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    color: #363b53;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

header .callback-link {
    display: inline-block;
    vertical-align: middle;
    color: #363b53;
    font-size: 13px;
    line-height: 1;
}

header .callback-link i {
    display: inline-block;
    vertical-align: middle;
}

header .callback-link a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #363b53;
    border-bottom: 1px dotted #363b53;
    line-height: 1;
}

header .callback-link a:hover {
    border-bottom: 1px solid transparent;
}

footer {
    padding: 30px 0;
}

footer .nav .label-nav {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    color: #34241a;
    font-size: 12px;
}

footer .nav .nav-menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

footer .nav .nav-menu a {
    display: inline-block;
    margin: 0 5px;
    border: 2px solid #363b53;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    padding: 10px 15px;
    color: #363b53;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
}

footer .nav .nav-menu a:hover {
    text-decoration: none;
    background-color: #363b53;
    color: #fff;
}

footer .nav .nav-menu a.active {
    background-color: #363b53;
    color: #fff;
}

footer .footer-phone {
    text-align: right;
}

footer .phone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    color: #363b53;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

footer .callback-link {
    display: inline-block;
    vertical-align: middle;
    color: #363b53;
    font-size: 13px;
    line-height: 1;
}

footer .callback-link i {
    display: inline-block;
    vertical-align: middle;
}

footer .callback-link a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #363b53;
    border-bottom: 1px dotted #363b53;
    line-height: 1;
}

footer .callback-link a:hover {
    border-bottom: 1px solid transparent;
}
